body{
  background: #9D8189;

}
* {
  box-sizing: border-box;
}

h1{
  font-family: 'myFont';
  color: #495057;
  font-size: 150px;
  margin: 50px;
;
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.listItem{
  margin-top: 30px;
  word-wrap:break-word;
  max-width: 500px;
  min-width: 200px;
  background: #FFE5D9;
  border-radius: 10px;
  color: #495057;
  overflow-y: auto;
  position: relative;
  min-height: 30px;
  padding: 20px 30px 20px 30px;
}
.inputList{
  height: 100px;
  width: 200px;
  border-radius: 10px;
  border: none;
  background: #FFE5D9;
  color: #495057;
  resize:none;
  position: relative;
  padding: 20px 10px 20px 10px;
}
.inputList::-webkit-scrollbar{
  width: 10px;
  background: #f9f9fd;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.inputList::-webkit-scrollbar-thumb {
  background-color: #9D8189;
  border-radius: 20px;
  border: 3px solid #D2B48C;
}
button{
  margin-left: 10px;
  height:30px;
  width: 50px;
  border-radius:  5px;
  border: none;
  color: white;
}
.buttonAdd{
  background: #FFCAD4;
  color: #495057;
}
.buttonAdd:hover{
  cursor: pointer;
}
.buttonDelete{
  background: #F4ACB7;
  color: #495057;
}
.buttonDelete:hover{
  cursor: pointer;
}
.buttonX{
  width: 25px;
  height: 25px;
  background: none;
  color: #495057;
  position:absolute;
  top:0;
  right: 0;
}
.buttonX:hover{
  cursor: pointer;
}
.check{
  background: #D8E2DC;
  color: #495057;
}
.check:hover{
  cursor: pointer;
}
.cancel{
  background:#607D8B;
}
.cancel:hover{
  cursor: pointer;
}
.inputButtonOnClick{
  border-radius: 5px;
  background: #FFE5D9;
  border: none;
  width: 84%;
  height: 30px;
  position: absolute;
  outline: none;
  color: #495057;

}
.inputButton{
  position: absolute;
  right: 0;
  top:0;
  background: none;
  color: #495057;
  padding: 0;
  width: 20px;
  height: 20px;
}
.inputButton:hover{
  cursor: pointer;
}
.divInputButton{
  position: relative;
  background: #FFE5D9;
  width: 250px;
  border-radius: 5px;
  height: 30px;

}
.wrapperForButtons{
  display: flex;
  flex-direction: column;
}
.listItem2{
  background: #D2B48C;
}
.wrapperInputList{
  width: 300px;
  display: flex;
  position: relative;
}
.wrapperButtonDelete{
  display: flex;
}
.wrapperButtonOnClick{
  display: flex;
  margin-top: 30px;
  width: 300px;
}
.test{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectButton{
  position: absolute;
  left: 0;
}
.selectButton:hover{
  cursor: pointer;
}
.check2{
  position: absolute;
  left: 0;
}
.check2:hover{
  cursor: pointer;
}
.inputListDelete{
  background:#F4ACB7;
  color: #495057;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.inputListDelete:hover{
  cursor: pointer;
}
.new{
  position: relative;
}